.about1-item {
    column-gap: 3rem;
  }
  .aboutContent{
    background: #D9D9D9;
    padding: 15px;

  }
  .about1-item p i {
    color: #000000;
    font-size: 1.1rem;
  }
  
  @media only screen and (max-width: 992px) {
    .aboutContent h2 {
      font-size: 1.5rem;
    }
    .about1-item {
      column-gap: 3rem;
    }
    .about1-item p {
      font-size: 0.6rem;
      margin-bottom: 0;
    }
  
    .description i {
      font-size: 0.8rem !important;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .aboutSection {
      margin-top: 30px;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .aboutSection {
      margin-top: 280px;
    }
  }
  