  .carImage{
    z-index: 5;
    background:transparent;  }img{
      border-radius: 10px;
  }

  .car-Image2{
    z-index: 5;
    background:transparent;  }img{
      border-radius: 10px 10px 10px 10px;
  }
  .carItem {
  padding: 10px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.404);
  
  
}
.carItem2 {
  padding: 10px;
  border-radius: 10px;
  background: #FFFFFF;

  
  
}
.mainCarsAd1{
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  

}


.carItem-info span i {
  color: #3044d8;
  font-size: 1.0rem;
  
}

.carItem-btn {
  border-radius: 0;
  border: none;
  outline: none;
  background: #3044d8;
  padding: 8px 0px;
  
}

.carItem-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;

}

.carItem-btn a:hover {
  color: #fff;
  
}

.carbtn-rent {
  border-radius: 4px
}

.carItem-content h4 {
  font-size: 1.8rem;
  
}

.carItem-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
}
/* */
.carItem-info1 span i {
  color: #3044d8;
  font-size: 20px;
  
}

.carItem-btn1 {
  border-radius: 0;
  border: none;
  outline: none;
  background: #3044d8;
  padding: 8px 0px;
  margin: 0px 0px;
  
  
}

.carItem-btn1 a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;

}

.carItem-btn1 a:hover {
  color: #fff;
  
}

.carbtn-rent {
  border-radius: 4px
}

.carItem-content h4 {
  font-size: 1.8rem;
  
}

.carItem-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .carItem h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .carItem h6 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .carItem-info {
    flex-wrap: wrap;
  }

  .carItem-info span {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .carItem-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}
.car-Image2{
  z-index: 5;
  background:transparent;  }img{
    border-radius: 10px 10px 10px 10px;
}
.carItem2 {
  padding: 10px;
  border-radius: 10px;
  background: #FFFFFF;

  
  
}
.mainCarsAd1{
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  

}

@media only screen and (max-width: 768px) {
  .carItem h4 {
    font-size: 1rem;
  }

  .carItem h6 {
    font-size: 0.9rem;
  }

  .carItem-info span {
    font-size: 0.7rem;
  }

  .carItem-info span i {
    font-size: 0.9rem;
  }

  .carItem-btn {
    font-size: 0.8rem;
  }
}

.mainCarsAd1{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  

}
.carImage1{
  z-index: 5;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0) ;
  border-radius: 10px 10px 10px 10px;
  
}

.spaceAmoung{
  justify-content: space-between;
}

.carItem1 {
border: 1px solid #7c8a9736;
padding: 20px;
margin: 10px 0px 0px 0px;
border-radius: 10px;
background: #FFFFFF;
width: 100%;


}

.carItem-info1 span i {
color: #3044d8;
font-size: 1.1rem;
}

.carItem-btn1 {
border-radius: 0;
border: none;
outline: none;
background: #3044d8;
padding: 8px 0px;
}

.carItem-btn1 a {
text-decoration: none;
color: #fff;
font-weight: 500;
}

.carItem-btn1 a:hover {
color: #fff;
}

.carbtn-rent1 {
border-radius: 4px 4px 4px 4px;

}

.carItem-content1 h4 {
font-size: 1.8rem;

}

.carItem-content1 h6 {
font-size: 1.2rem;
font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .car-Image2{
    z-index: 5;
    background:transparent;  }img{
      border-radius: 10px 10px 10px 10px;
  }
  .carItem2 {
    padding: 10px;
    border-radius: 10px;
    background: #FFFFFF;
  
    
    
  }
  .mainCarsAd1{
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  
  }


.carItem1 {
border: 1px solid #7c8a9736;
padding: 20px;
border-radius: 5px;
background: #FFFFFF;
width: 100%;
flex-direction: column;
}

.carItem-info1 span i {
color: #3044d8;
font-size: 1.1rem;
}

.carItem-btn1 {
border-radius: 0;
border: none;
outline: none;
background: #3044d8;
padding: 8px 0px;
}

.carItem-btn1 a {
text-decoration: none;
color: #fff;
font-weight: 500;
}

.carItem-btn1 a:hover {
color: #fff;
}

.carbtn-rent1 {
border-radius: 4px 0px 0px 4px;
}

.carItem-content1 h4 {
font-size: 1.8rem;

}

.carItem-content1 h6 {
font-size: 1.2rem;
font-weight: 600;
}


}
/*Main name*/
.carItem1 h4 {
  font-size: 25px;
  margin-bottom: 0;
}
/*Price*/
.carItem1 h6 {
  font-size: 15px;
  margin-top: 10px;
}

.carItem-info1 {
  flex-wrap: wrap;
}

.carItem-info1 span {
  font-size: 0.8rem;
  justify-content: space-between;
}

.carItem-btn1 {
  padding: 5px 10px;
  font-size: 20px;
}


@media only screen and (max-width: 768px) {
.carItem1 h4 {
  font-size: 1rem;
}

.carItem1 h6 {
  font-size: 0.9rem;
}

.carItem-info1 span {
  font-size: 0.7rem;
}

.carItem-info1 span i {
  font-size: 0.9rem;
}

.carItem-btn1 {
  font-size: 0.8rem;
}
.mainCarsAd1{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  }
  .carItem1 {
  border: 1px solid #7c8a9736;
  padding: 20px;
  margin: 30px 0px 0px 0px;
  border-radius: 5px;
  background: #FFFFFF;
  width: auto;


  }
  .carItem2 {
    border: 1px solid #7c8a9736;
    padding: 20px;
    margin: 30px 0px 0px 0px;
    border-radius: 5px;
    background: #FFFFFF;
    width: auto;
  
  
    }
}

@media only screen and (max-width: 468px) {
  .carItem1 h4 {
    font-size: 1rem;
  }
  
  .carItem1 h6 {
    font-size: 0.9rem;
  }
  
  .carItem-info1 span {
    font-size: 0.7rem;
  }
  
  .carItem-info1 span i {
    font-size: 0.9rem;
  }
  
  .carItem-btn1 {
    font-size: 0.8rem;
  }
  .mainCarsAd1{
    
    height: 100%;
   }
    .carItem1 {
    border: 1px solid #7c8a9736;
    padding: 20px;
    margin: 30px 0px 0px 0px;
    border-radius: 5px;
    background: #FFFFFF;
    width: auto;
  
  
    }
    .carItem2 {
      border: 1px solid #7c8a9736;
      padding: 20px;
      margin: 30px 0px 0px 0px;
      border-radius: 5px;
      background: #FFFFFF;
      width: auto;
    
    
      }
      .mainCarsAd1{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        }
  }

