.out{
position: relative;
padding: 50px 50px 50px 50px;
background: #D9D9D9;
}

.contactForm{
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;

}
.contactForm2{
  color: black;
}
.contactButton {
  padding: 7px 15px;
  background: #3563E9;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}
h6{
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .contactButton {
    margin-bottom: 40px;
    font-size: 0.8rem;
    
  }

}
