.footer {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 15px;
}

.footerBlerb i {
  color:  #3563E9;
  font-weight: 500;
}

.footerBlerb span {
  color: #3563E9;
  font-weight: 500;
}

.footerBlerb {
  color: rgba(7, 7, 7, 0.715);
  margin-top: 15px;
  line-height: 30px;
}

.link {
  border: none !important;
  background: transparent !important;
}

.link a {
  color: rgba(0, 0, 0, 0.715);
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

.link a:hover {
  color: #000d6b;
}

.footerLink {
  color: #000000;
}
.footerLink2 {
  color: #000000;
}

.info {
  color: rgba(0, 0, 0, 0.715);
  font-weight: 300;
}



.footer__bottom {
  border-top: 1px solid #0000002f;
}

@media only screen and (max-width: 768px) {
  .footerBlerb {
    font-size: 0.8rem;
  }

  .link,
  .info {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .footerLink {
    font-size: 1rem;
    margin-top: 15px;
  }

  
}
