.signIn {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #afafaf;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-top: 0;
  
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='text'],
input[type='password'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

button[type='submit'] {
  background-color: #3563E9;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  width: 120px;
  height: 50px;
}

button[type='submit']:hover {
  background-color: #2e51bb;
}
.secc{
  justify-content: space-between;
}
.remember-me{

}
.forgotPassword{
  cursor: pointer;
  color: #3563E9;
  text-align: right;
  
}
.checkbox{
  width: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .signIn {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    margin-top: 0;
    
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='password'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  button[type='submit'] {
    background-color: #3563E9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    width: 120px;
    height: 50px;
  }
  
  button[type='submit']:hover {
    background-color: #2e51bb;
  }
  .secc{
    justify-content: space-between;
  }
  
  /*NEEDS ATTENTION MAKE RESPONSIVENESS SINGLE FILE
  .mainCarsAd1{
    
  }*/
}