.LBanner  {
    background:url("../assets/figmaImages/cars-img/r35\ 1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 269px 0px;
  }
.textLog{
  color: white;
  position: absolute; 
  top: 550px; 
  left: -30%; 
  width: 100%; 
  font-size: 50px;
}
@media only screen and (max-width: 768px) {
  .textLog{
    color: white;
    position: absolute; 
    top: 470px; 
    left: 0; 
    width: 100%; 
    font-size: 30px;
  
  
  }

}